.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #5C5C99, #A3A3CC);
}
.container {
  padding: 30px;
  width: 40%;
  margin: 0;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  color: #292966;
  text-align: center;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #5C5C99;
  outline: none;
}

.button {
  padding: 12px;
  border: none;
  background-color: #5C5C99;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #292966;
}
